# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pids
*.pid
*.seed
*.pid.lock
*package-lock.json
# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env
.env.test
.env.development
.env.production

# parcel-bundler cache (https://parceljs.org/)
.cache

# next.js build output
.next

# nuxt.js build output
.nuxt

# gatsby files
.cache
public

# vuepress
.temp
.cache
dist

# Serverless directories
.serverless

# Linting directories
.lint

# testing
coverage

# yarn
.yarn-integrity
